In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

%matplotlib inline

In [2]:
df = pd.read_csv('../Resources/marathon_results_2019.csv')
df.head()

,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 8,5K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,2,"Cherono, Lawrence",30,M,Eldoret,NaN,KEN,NaN,NaN,0:15:11,...,1:16:23,1:32:01,1:47:16,2:01:45,0:04:53,NaN,2:07:57,1,1,1
1,6,"Desisa, Lelisa",29,M,Ambo,NaN,ETH,NaN,NaN,0:15:10,...,1:16:24,1:32:01,1:47:16,2:01:46,0:04:53,NaN,2:07:59,2,2,2
2,7,"Kipkemoi, Kenneth",34,M,Eldoret,NaN,KEN,NaN,NaN,0:15:14,...,1:16:24,1:32:01,1:47:16,2:01:45,0:04:54,NaN,2:08:07,3,3,3
3,8,"Kandie, Felix",32,M,Iten,NaN,KEN,NaN,NaN,0:15:14,...,1:16:24,1:32:01,1:47:16,2:02:08,0:04:55,NaN,2:08:54,4,4,4
4,11,"Kirui, Geoffrey",26,M,Keringet,NaN,KEN,NaN,NaN,0:15:12,...,1:16:23,1:32:01,1:47:16,2:01:57,0:04:56,NaN,2:08:55,5,5,5

In [5]:
df.columns

Index(['Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country', 'Citizen',
       'Unnamed: 8', '5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K',
       '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall', 'Gender',
       'Division'],
      dtype='object')

In [ ]:
# Subset the dataframe to only the columns "Age", "M/F", split times (i.e. "5K, 10K", etc.), "Pace", and "Official Time". 
### YOUR CODE HERE ###
sub_df = df.[['Age'], ['M/F'], [''] ]

In [ ]:
# Convert the split times, "Pace", and "Official Time" to timedeltas using apply() and pandas.to_timedelta()
### YOUR CODE HERE ###

In [ ]:
# Convert timedeltas to seconds by applying the lambda function lambda x: x.dt.total_seconds()
### YOUR CODE HERE ###

In [ ]:
# Subset df to only rows where the split values are non-zero
### YOUR CODE HERE ###

In [ ]:
# Use LabelEncoder to convert 'M/F' into integer labels
### YOUR CODE HERE ###

In [ ]:
# Convert 'Age' to a numeric value
### YOUR CODE HERE ###

In [ ]:
# 'Pace' should be perfectly correlated with 'Official Time', so we'll remove it from our X data (but keep it for analysis)
# Plot a scatter plot of 'Pace' against 'Official Time' to make sure
### YOUR CODE HERE ###

In [ ]:
# Create a training set 'X' with every column except 'Pace'
### YOUR CODE HERE ###

In [ ]:
# Scale the dataset using MinMaxScaler()
### YOUR CODE HERE ###